/*colors*/
$black: #000000;
$dark-grey: #2b3333;
$darked-grey: #3a3a3a;
$grey-inactive: #7f7f7f;
$grey-label: #999999;
$grey: #cccccc;
$bluegrey: #616d6d;
$light-grey: #D1D6D0;
$grey-lines: #ecedec;
$light-green: #f0f9ef;
$lighter-grey: #f9f9f9;
$white-grey: #fdfbfb;
$bg-grey: #e0e2e0;
$white: #ffffff;
$lighter-green:#eafde7;
$light-green: #abcea5;
$lime: #C0F002;
$green-lime: #bff202;
$green: #88c426;
$dark-green: #1c676c;
$darken-green: #519548;
$emerald: #009640;
$dark-emerald: #007722;
$redCarmesi: #c12727;

/*color for hours*/
$bgrecargoNoc: #b21616;
$bgDomingoFestivo: #c67100;
$bgRecargoNocDomFes: #afaf17;
$bgExtraDiurna: #2b9325;
$bgExtraNocturna: #17afa4;
$bgExtDiurnaDomFes: #2217af;
$bgExtNocDomFes: #8217af;
$bgHoras: #bff202;

$green-opacity-5: rgba(70, 137, 62, 0.04);
$dark-green-opacity-90: rgba(28, 103, 108, 0.9);
$green-lime-opacity-90: rgba(190, 242, 2, 0.9);
$gray-opacity-5: rgba(93, 93, 93, 0.05);
$white-opacity-90: rgba(255, 255, 255, 0.9);
$white-opacity-80: rgba(255, 255, 255, 0.8);
$black-opacity-10: rgba(0, 0, 0, 0.1);

$lighter-green-opacity-70:rgba(234, 253, 231, 0.7);
$light-green-opacity-70: rgba(171, 206, 165, 0.7);

$lighter-pink-opacity-70:rgba(249, 232, 232, 0.7);
$light-pink-opacity-70: rgba(204, 166, 166, 0.7);

$light-pink-opacity-90: rgba(204, 166, 166, 0.9);