<!--category section-->
<div class="container clearfix area-section">

  <div class="area-box" *ngFor="let category of categories">
    <div class="inner-box clearfix">
      <a class="link-info clearfix">
        <span class="vertical-aligment"><i class="fa fa-th-large" aria-hidden="true"></i></span>
				<span class="title-area winfo">
          <span>
            {{category.name}}
          </span>
        </span>
					<!--<span class="description">Lorem ipsum dolor sit amet, consectetur</span>
				</span>-->
			</a>
      <a href="#" class="config" (click)="edit = true; openOverlay(category.name,category._id); false"><i class="fa fa-pencil-square-o" aria-hidden="true"></i><span class="tool-tip">Editar</span></a>

    </div>
  </div>

  <!--add new categpry-->
  <div class="area-box add-category">
    <div class="inner-box clearfix">
      <i class="fa fa-tags" aria-hidden="true"></i>
      <a href class="add-text clearfix" (click)="edit = false; openOverlay('','');  false">
				<i class="fa fa-plus" aria-hidden="true"></i> <span>Nueva área</span>
			</a>
    </div>
  </div>
</div>

<!--overlay forms-->
<div id="overlay" class="overlay">
  <form #categoryForm="ngForm" (ngSubmit)="formCategory()">
    <div class="inner-box">
      <h2 class="title-overlay">
        {{edit? 'Editar área' : 'Nueva área'}}        
      </h2>
      <div class="form-new-element clearfix">
        <div class="row-form" *ngIf="edit">
          <label for="field01">Nombre anterior</label>
          <div class="form-field-input">
            <p>{{olderName}}</p>
          </div>
        </div>
        <div class="row-form">
          <label for="nameCategory">Nombre del área</label>
          <div class="form-field-input fullsizeInput">
            <input id="nameCategory" type="" name="nameCategory" #name="ngModel" [(ngModel)]="category.name" required/>
          </div>
        </div>
        <div class="buttons clearfix">
          <button type="button" class="btn btn-color-grey" (click)="closeOverlay()">
						<i class="fa fa-times" aria-hidden="true"></i> Cancelar
					</button>
          <button type="submit" class="btn btn-color-green" [disabled]="!categoryForm.form.valid">
						<i class="fa fa-plus" aria-hidden="true"></i>
            {{edit ? 'Actualizar' : 'Crear'}}
					</button>
        </div>
      </div>
    </div>
  </form>
</div>